---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getPublishedPosts } from "../../components/content.js";

export async function getStaticPaths() {
  const posts = getPublishedPosts();

  const categories = [...new Set(posts.map(p => p.category))];

  return categories.map((cat) => ({
    params: {
      category: cat.toLowerCase().replace(/\s+/g, "-")
    }
  }));
}

const { category } = Astro.params;

const posts = getPublishedPosts().filter((post) =>
  post.category.toLowerCase().replace(/\s+/g, "-") === category
);
---

<BaseLayout
  title={`${category} | AKOMARO`}
  description="Category page"
>
  <section class="container">
    <h1 style="margin:20px 0;">{category.toUpperCase()}</h1>

    <div class="grid-3">
      {posts.map((post) => (
        <article class="card">
          <img src={post.cover} alt={post.title} />

          <div class="card-body">
            <h3>
              <a href={`/post/${post.slug}`}>{post.title}</a>
            </h3>

            <p>{post.excerpt}</p>
          </div>
        </article>
      ))}
    </div>
  </section>
</BaseLayout>
